<%= render partial: 'menu' %>

<div class="container admin-container">
  <%= render partial: 'shared/notice_growl' %>

  <h1><%= @election.title %></h1>

  <p>
    <strong>Title:</strong>
    <%= @election.title %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= @election.category.name %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= @election.status %>
  </p>

  <%= link_to edit_admin_election_path(@election) do %>
    <%= button_tag type: 'button', class: 'btn btn-default btn-white' do %>
      <i class='fa fa-edit'></i> Edit
    <% end %>
  <% end %>

  <%= link_to admin_elections_path do %>
    <%= button_tag type: 'button', class: 'btn btn-default btn-white' do %>
      <i class='fa fa-mail-reply'></i> Go back
    <% end %>
  <% end %>
</div>