<%= form_for([:admin, @candidate]) do |f| %>
  <% if @candidate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@candidate.errors.count, "error") %> prohibited this candidate from being saved:</h2>

      <ul>
      <% @candidate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name , size: 150%>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.check_box :status %>
  </div>
  <div class="field">
    <%= f.label :category %><br>
    <%= select(:category, :category_id, @categories, include_blank: "Select category...", selected: @candidate.category.try(:id)) %>
  </div>
  <div class="field">
    <%= f.label :image_url %><br>
    <%= f.text_field :image_url, size: 150 %>
  </div>
  <div class="field">
    <%= f.label "Original image page (with all the descriptions and rights for the image)" %><br>
    <%= f.text_field :image_original_url, size: 150 %>
  </div>
  <div class="field">
    <%= f.label "Original image title" %><br>
    <%= f.text_field :image_original_title, size: 150 %>
  </div>
  <div class="field">
    <%= f.label "Image author" %><br>
    <%= f.text_field :image_author_name, size: 150 %>
  </div>
  <div class="field">
    <%= f.label "Image author page" %><br>
    <%= f.text_field :image_author_url, size: 150 %>
  </div>
  <div class="field">
    <%= f.label "License CC (Creative Commons)" %><br>
    <%= select(:candidate, :image_license, @creative_commons, include_blank: "Select license...", selected: @candidate.image_license) %>
  </div>
  <div class="field">
    <%= f.label "Modified image" %><br>
    <%= f.attachment_field :modified_image %>
  </div>

  <br />
  <hr />

  <div class="actions">
    <%= f.submit class: 'btn btn-success' %>

    <%= link_to admin_candidates_path do %>
      <%= f.button type: 'button', class: 'btn btn-danger' do %>
        <i class='fa fa-mail-reply'></i> Go back
      <% end %>
    <% end %>
  </div>
<% end %>
