<%= render partial: 'menu' %>

<div class="container admin-container">
  <%= render partial: 'shared/notice_growl' %>

  <h1>Listing Candidates</h1>

  <%= form_for(admin_categories_path, method: 'get') do |f| %>
    <label>Filtro por categoria:</label>
    <select class='form-control' id='category-filter' name='category_id' onchange='$(form).submit()'>
      <option value='0'>Todas as categorias</option>
      <% @categories.each do |category| %>
        <option value='<%= category.last %>'<%= 'selected' if @current_category.to_i == category.last.to_i %> ><%= category.first %></option>
      <% end %>
    </select>
  <% end %>
  <br />
  <hr />

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Status</th>
        <th>Category</th>
        <th>Image url</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @candidates.each do |candidate| %>
        <tr>
          <td><%= candidate.name %></td>
          <td><%= candidate.status %></td>
          <td><%= candidate.category.try(:name) %></td>

          <td><%= image_tag(candidate.image_url, style: 'max-width: 150px; max-height: 200px') %></td>

          <td class='icon'>
            <%= link_to admin_candidate_path(candidate) do %>
              <i class="fa fa-eye"></i>
            <% end %>
          </td>
          <td class='icon'>
            <%= link_to edit_admin_candidate_path(candidate) do %>
              <i class="fa fa-edit"></i>
            <% end %>
          </td>
          <td class='icon'>
            <%= link_to admin_candidate_path(candidate), method: :delete, data: { confirm: 'Are you sure?' } do %>
              <i class="fa fa-trash-o"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br />
  <p>
    <%= link_to new_admin_candidate_path, class: 'btn btn-success' do %>
      <i class='fa fa-plus'></i> New Candidate
    <% end %>
  </p>
</div>