<div class="container">
  <div class="row">
      <div class="col-md-1"></div>

      <div class="col-md-10">
          <div class="row carousel-holder">

              <div class="col-md-12">
                  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                      <ol class="carousel-indicators">
                          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                      </ol>
                      <div class="carousel-inner">
                        <% @carousel.each_with_index do |category, index| %>
                          <div class="item<%= " active" if index.zero? %>" style="text-align: center">
                            <img class="slide-image" src="<%= category.image_url %>" alt=""/>
                          </div>
                        <% end %>
                      </div>
                      <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                          <span class="glyphicon glyphicon-chevron-left"></span>
                      </a>
                      <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                          <span class="glyphicon glyphicon-chevron-right"></span>
                      </a>
                  </div>
              </div>

          </div>

          <div class="row">
            <% @highlights.each do |highlight| %>
              <div class="col-sm-4 col-lg-4 col-md-4">
                  <div class="thumbnail">
                      <img src="<%= highlight.image_url %>" alt="">
                      <div class="caption">
                          <h4 class="pull-right"></h4>
                          <h4><a href="/election/<%= highlight.id %>"><%= highlight.name %></a>
                          </h4>
                          <p>See more snippets like this online store item at <a target="_blank" href="http://www.bootsnipp.com">Bootsnipp - http://bootsnipp.com</a>.</p>
                      </div>
                      <div class="ratings">
                          <p class="pull-right">15 reviews</p>
                          <p>
                              <span class="glyphicon glyphicon-star"></span>
                              <span class="glyphicon glyphicon-star"></span>
                              <span class="glyphicon glyphicon-star"></span>
                              <span class="glyphicon glyphicon-star"></span>
                              <span class="glyphicon glyphicon-star"></span>
                          </p>
                      </div>
                  </div>
              </div>
            <% end %>
          </div>
      </div>

      <div class="col-md-1"></div>
  </div>
</div>