<% position ||= 1 %>
<% candidate ||= nil %>

<% if candidate.present? %>
  <div class='pull-left candidate<%= ' top-one' if position == 1 %>'>
    <div class='list bold position'><%= position %>ยบ</div>
    <img src='<%= candidate.image_url %>' />
    <div class='info'>
      <span class='bold'><%= candidate.name %></span>
      <span class='light-gray'>
        <%= number_with_delimiter(candidate.total_votes, delimiter: '.') %>
        <%= candidate.total_votes == 1 ? 'voto': ' votos' %>
      </span>
    </div>
  </div>
<% end %>