<div class="container">
  <div class='row election-header'>
    <div class='col-md-12'>
      <h2 class='text-center'><%= @election.description %></h2>
    </div>
  </div>

  <div class='row' id='election'>
    <div class='col-md-1'></div>
    <div class='col-md-10'>
      <section id='versus'>
        <%= render partial: 'candidate_panel', locals: { position: 'left' } %>

        <div id='center'> X </div>

        <%= render partial: 'candidate_panel', locals: { position: 'right' } %>

        <div id='bottom'>
          <button data-next-candidates id='next-candidates'>Pular esse duelo</button>
          <div data-votes-counter>Você ainda não votou</div>
        </div>
      </div>
    </section>
    <div class='col-md-1'></div>
  </div>
</div>

<div class='row'>
  <section id='ranking'>
    <div class='col-md-2'></div>
    <div class='col-md-8'>
      <div class='head-left pull-left bold'>Classificação</div>
      <div class='total pull-right light-gray'>Total de votos: <span><%= number_with_delimiter(3934890, delimiter: '.') %></span></div>

      <div id='top-candidates'>
        <% @election.candidates.each_with_index do |candidate, position| %>
          <%= render partial: 'ranking_candidate', locals: { position: position + 1, candidate: candidate }  %>
        <% end %>
      </div>
    </div>
    <div class='col-md-2'></div>
  </section>
</div>

<% content_for :javascripts do %>
  <script>
    $(document).ready(function() {
      var candidates = <%= raw(@election.candidates.to_json) %>;
      new Election(<%= @election.id %>, candidates).start();
    });
  </script>
<% end %>
