<div class="container">

  <p id="notice"><%= notice %></p>

  <p>
    <strong>Name:</strong>
    <%= @candidate.name %>
  </p>

  <% if @candidate.image_url %>
    <p>
      <img src="<%= @candidate.image_url %>"/>
    </p>
  <% end %>

  <p>
    <strong>Image url:</strong>
    <%= @candidate.image_url %>
  </p>

  <p>
    <strong>Original image page:</strong>
    <%= @candidate.image_original_url %>
  </p>

  <p>
    <strong>Original image title:</strong>
    <%= @candidate.image_original_title %>
  </p>

  <p>
    <strong>Image Author:</strong>
    <%= @candidate.image_author_name %>
  </p>

  <p>
    <strong>Image Author Page:</strong>
    <%= @candidate.image_author_url %>
  </p>

  <p>
    <strong>License from Creative Commons (CC):</strong>
    <%= @candidate.image_license %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= @candidate.category.try(:name) %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= @candidate.status %>
  </p>

  <%= link_to 'Edit', edit_candidate_path(@candidate) %> |
  <%= link_to 'Back', candidates_path %>
</div>