<div class="container">

  <p id="notice"><%= notice %></p>

  <p>
    <strong>Name:</strong>
    <%= @candidate.name %>
  </p>

  <p>
    <strong>Image url:</strong>
    <%= @candidate.image_url %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= @candidate.status %>
  </p>

  <%= link_to 'Edit', edit_candidate_path(@candidate) %> |
  <%= link_to 'Back', candidates_path %>
</div>